* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Roboto", sans-serif;
}

/*? navbar-start-here */
/* body {
    overflow-x: hidden !important;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #1b0238;
    font-weight: 600;
    font-size: 16px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 24px;
}

nav div a {
    text-decoration: none;
    color: #1b0238;
    font-weight: 600;


}

nav div button {
    border: none;
    background-color: #ea512e;
    color: white;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;

}

.toolbar {
    display: none;
}

.toolbar i {
    font-size: 30px;
}

.toggler .dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 52px;
    right: 0;
    background-color: white;
    align-items: start;
    gap: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

}

.dropdown {
    position: relative;
}

.toggler a {
    font-size: 16px;
    padding: 16px;
}

.toggler a:hover {
    background-color: #1b0238;
    width: 100%;
    color: white;

}

.toggler:hover .dropdown {
    display: flex;
}

/*?  navbar-end-here  */



/* ? hero-section-start-here */

.hero-section {
    background-color: #F1E7FF;
    height: 650px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.hero-header {
    background-color: #F1E7FF;
    width: 60%;
    height: 100%;
}

.hero-cirle {
    background-color: #FEF8F8;
    width: 40%;
    height: 900px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.hero-section .hero-cirle img {
    width: 650px;
    bottom: 10px;
    right: 25px;
    position: absolute;
}

.cloud {
    position: absolute;
    bottom: -110px;
}

.hero-section .hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8%;
    position: relative;

}

.hero-section .hero-header h6 {
    color: #ea512e;
    font-size: 16px;
}

.hero-section .hero-header h1 {
    color: #1B0238;
    font-size: 60px;
    margin-top: 30px;
}

.hero-section .hero-header p {
    color: gray;
    line-height: 2;
    margin-top: 20px;

}

.hero-section .hero-header .btn {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}

.hero-section .hero-header .btn .learn-more {
    border: none;
    background-color: #ea512e;
    color: white;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    z-index: 1000;

}

.hero-section .hero-header .btn .find-out-more {
    border: none;
    background-color: #f5890d;
    color: white;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    z-index: 1000;

}

.banner-1 {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
    animation: move 2s infinite linear alternate;
}

.banner-2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    animation: move2 2s infinite linear alternate;
}

.banner-3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100px;
    animation: move3 2s infinite linear alternate;

}

.banner-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    animation: move4 2s infinite linear alternate;
}

/* ? hero-section-end-here */

/* ? child-section-satrt-here */

.child-section {
    padding: 100px 8%;
    display: flex;
    gap: 40px;
    position: relative;
}

.single-child {
    width: 569px;
    height: 569px;
    border-radius: 50%;
}

.child-section .little-tittle {
    color: #ea512e;
    font-size: 16px;
    font-family: "Sacramento", cursive;
    font-weight: 400;
}

.child-section .tittle {
    font-size: 40px;
    color: #1B0238;
    margin-top: 30px;
}

.child-section .desc {
    color: #6b6b84;
    line-height: 1.6;
    margin-top: 20px;
}

.child-section .list-box {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    padding-right: 50px;
}

.child-section .list-box button {
    border: none;
    background-color: #ea512e;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 600;
    margin-right: 5px;

}

.child-section .list-box span {
    font-size: 16px;
    font-weight: 600;
}

.child-section .list-box .container {
    width: 50%;
}

.child-section .read-more {
    border: none;
    background-color: #ea512e;
    color: white;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    z-index: 1000;
    margin-top: 30px;
}

.child-section .who-we-are-shape {
    position: absolute;
    top: 20px;
    right: 0;
    width: 120px;
    animation: move5 2s infinite linear alternate;
}

/* ? child-section-end-hare *

/* ? cards-section-start-here */

.Popular-Classes {
    padding: 100px 8%;
    background-color: #FDF6ED;
    position: relative;
    z-index: 10000;
}

.Popular-Classes .bg-image-one {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 365px;
}

.Popular-Classes .bg-image-two {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
}

.Popular-Classes .card-box {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 1;

}

.Popular-Classes .card-box .card {

    width: 100%;
}

.Popular-Classes .card-box .card img {
    width: 100%;
    border-radius: 5px;

}

.Popular-Classes .tittle {
    text-align: center;
    color: #ea512e;
    font-family: "Sacramento", cursive;
}

.Popular-Classes h1 {
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.inner-box-content {
    padding: 40px 20px;
    background-color: white;
    border-radius: 5px;
}

.inner-box-content h2 {
    font-size: 25px;

}

.inner-box-content p {
    color: #6b6b84;
    line-height: 1.6;
    margin-top: 15px;
}

.inner-box-content .datted-line {
    border: 1px dotted #ea512e;
    margin-top: 20px;
}

.inner-box-content .info {
    display: flex;
    margin-top: 15px;
    gap: 20px;
}

.inner-box-content .class-btn {
    border: none;
    background-color: #ea512e;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.inner-box-content .info label {
    color: #ea512e;
    font-size: 15px;
    font-weight: 500;
}

.inner-box-content .info .label-value {
    color: #1B0238;
    font-size: 15px;
    font-weight: 500;
}

.Popular-Classes .card-image {
    overflow: hidden;
}

.Popular-Classes .card-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
}

/* ? cards-section-end-here */


/* ? teacher-section-start-here */
.teacher {
    padding: 100px 8%;
    display: flex;
    gap: 10px;
    align-items: start;
    position: relative;
}

.teacher .core {
    color: #ea512e;
    font-family: "Sacramento", cursive;
}

.teacher .tittle {
    font-size: 44px;
    margin-top: 20px;
}

.teacher .badge {
    display: flex;
    gap: 20px;
    align-items: start;
    margin-top: 30px;
}

.teacher .cirle-one {
    border: 1px solid #d3f5fe;
    padding: 3px;
    border-radius: 50%;
}

.teacher .cirle-one div {
    background-color: #d3f5fe;
    border-radius: 50%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
}

.teacher .badge:hover .cirle-one {
    border: 1px solid #ea512e;
}

.teacher .badge:hover .cirle-one div {
    background-color: #ea512e;
    color: white;
}

.badge h4 {
    font-size: 20px;
}

.badge p {
    color: #6b6b84;
    line-height: 1.6;
    margin-top: 15px;

    ;
}

.teacher .cirle-two {
    border: 1px solid #fce0ad;
    padding: 3px;
    border-radius: 50%;
}

.teacher .cirle-two div {
    background-color: #fce0ad;
    border-radius: 50%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
}

.teacher .badge:hover .cirle-two {
    border: 1px solid #ea512e;
}

.teacher .badge:hover .cirle-two div {
    background-color: #ea512e;
    color: white;
}

.badge h4 {
    font-size: 20px;
}

.badge p {
    color: #6b6b84;
    line-height: 1.6;
    margin-top: 15px;


}

.teacher .cirle-three {
    border: 1px solid #fbc9d5;
    padding: 3px;
    border-radius: 50%;
}

.teacher .cirle-three div {
    background-color: #fbc9d5;
    border-radius: 50%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
}

.teacher .badge:hover .cirle-three {
    border: 1px solid #ea512e;
}

.teacher .badge:hover .cirle-three div {
    background-color: #ea512e;
    color: white;
}

.badge h4 {
    font-size: 20px;
}

.badge p {
    color: #6b6b84;
    line-height: 1.6;
    margin-top: 15px;

}

.badge-conatiner {
    display: flex;
    flex-direction: column;

}

.value-1 {
    position: absolute;
    top: 0;
    left: o;
}

.value-2 {
    position: absolute;
    bottom: 0;
    left: o;
}

.value-3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ? teacher-section-end-here */



/* ? meet-teacher-section-start-here */
.team {
    padding: 100px 2%;
    background-color: #FAF7F2;
}

.team .core {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
    text-align: center;
}

.team .tittle {
    font-size: 45px;
    color: #1B0238;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.team .container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    overflow: hidden;
}

.team .container img {
    width: 100%;
    border-radius: 50%;
}

.team .container h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}

.team .container p {
    color: #ea512e;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.team .social {
    position: absolute;
    bottom: -30%;
    left: 18%;
    display: flex;
    gap: 10px;

}

.team .social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ea512e;
    border: none;
    color: white;
    font-size: 14px;
}

.team .container .icon-animation:hover .social {
    animation: 0.3s linear forwards slide;
}

/* ? meet-teacher-section-end-here */


/* ? slider-section-start-here  */



.feedback {
    padding: 100px 8%;

}

.feedback .core {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
    text-align: center;
}

.feedback .tittle {
    font-size: 45px;
    color: #1B0238;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.feedback .swiper-wrapper .circle-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* justify-content: center; */
}

.feedback .swiper-wrapper .circle {


    height: 350px;
    background-color: #FEE9CA;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;


}

.feedback .swiper-wrapper .circle p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}

.feedback .swiper-wrapper .circle h3 {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}

.feedback .swiper-wrapper .circle h4 {
    margin: 0;
    padding: 0;
    color: #ea512e;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
}

/* ? slider-section-end-here */


/*? upcoming-events-section-start-here  */

.upcoming-events {
    /* height: 500px; */
    background: url(/images/event-bg.jpg);
    background-size: cover;
    padding: 80px 8%;
}

.upcoming-events p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.upcoming-events h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0;
    color: white;
}

.upcoming-events .card-box {
    display: flex;
    flex-direction: column;
}

.upcoming-events .card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;

}

.upcoming-events .card .content h3 {
    font-size: 24px;
    color: #1B0238;
}

.upcoming-events .card .content p {
    font-size: 16px;
    color: #1B0238;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.upcoming-events .card .celender h1 {
    font-size: 60px;
    color: #ea512e;
}

.upcoming-events .card .celender p {
    font-size: 20px;
    color: #ea512e;
}

/*? upcoming-events-section-end-here   */


/* letest-news-section-start-here  */
.letest-news {
    padding: 100px 8%;
}

.letest-news .core {
    font-size: 20px;
    color: rgb(234, 81, 46);
    font-weight: 600;
    font-family: Sacramento, cursive;
    text-align: center;

}

.letest-news .tittle {
    font-size: 45px;
    margin-top: 15px;
    text-align: center;
}

.letest-news .card img {
    width: 100%;
    border-radius: 10px;
}

.letest-news .cards {
    display: flex;
    gap: 25px;
    margin-top: 40px;

}

.letest-news .card {
    background-color: #FDEEE9;
    overflow: hidden;

}

.letest-news .letest-news-content {
    padding: 40px 20px;
}

.letest-news .letest-news-content .info span {
    color: #ea512e;
    font-size: 15px;
}

.letest-news .letest-news-content .info label {

    font-size: 15px;
}

.letest-news .letest-news-content .info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.letest-news .letest-news-content h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.letest-news .letest-news-content p {
  color: #6b6b84;
  line-height: 1.6;
}
.letest-news .letest-news-content button {
    border: none;
    background-color: #ea512e;
    color: white;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.letest-news .card-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
}
/* letest-news-section-end-here  */
/* ? animation-start-here */

@keyframes slide {
    0% {
        bottom: -30%;
    }

    100% {
        bottom: 30%;
    }
}

@keyframes move {
    0% {
        left: 15px;
    }

    100% {
        left: 60px;
    }

}

@keyframes move2 {
    0% {
        right: 15px;
    }

    100% {
        right: 60px;
    }

}

@keyframes move3 {
    0% {
        bottom: 15px;
    }

    100% {
        left: 60px;
    }

}

@keyframes move4 {
    0% {
        bottom: 15px;
    }

    100% {
        right: 60px;
    }

}

@keyframes move5 {
    0% {
        right: 15px;
    }

    100% {
        right: 60px;
    }

}

/* ? animation-end-here */

/* ? media-query-start-here */

@media (max-width: 768px) {
    .toolbar {
        display: flex;
        z-index: 1000;
    }

    .tool-button {
        display: none;
    }

    nav ul {
        display: none;
    }

    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 100px;
    }

    .hero-section .hero-header {
        flex-direction: column;
    }

    .hero-section .hero-cirle {
        background: transparent;
    }

    .hero-section .cloud {
        display: none;
    }

    .hero-section .hero-cirle img {
        width: 100%;
        position: unset;
    }

    .hero-section .hero-cirle {
        width: 100%;
    }

    .banner-1,
    .banner-2,
    .banner-3,
    .banner-4 {
        display: none;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .hero-header {
        align-items: center;
        text-align: center;

        width: 100%;
        padding: 24px;
    }

    .hero-section .hero-header h1 {
        margin-top: 10px;
        font-size: 30px;
    }

    .hero-section .hero-header h6 {
        margin-top: 10px;

    }

    .hero-section .hero-header p {
        margin-top: 10px;

    }

    .hero-section .hero-header .btn .learn-more {

        padding: 12px 25px;
        font-size: 14px;


    }

    .hero-section .hero-header .btn .find-out-more {

        padding: 12px 25px;
        font-size: 14px;


    }

    .child-section {
        flex-direction: column;
        padding: 0;
    }

    .child-inner-section {
        padding: 0px 16px;
    }

    .who-we-are-shape {
        display: none;
    }

    .child-section .single-child {
        width: 365px;
        height: 365px;
        border-radius: 50%;
        margin-top: 50px;
        text-align: center;
        padding: 15px;

    }


    .child-section .little-tittle {

        font-size: 14px;

    }

    .child-section .tittle {
        font-size: 25px;

        margin-top: 10px;
    }

    .child-section .desc {

        margin-top: 10px;
    }

    .child-section .list-box span {
        font-size: 13px;

    }

    .child-section .list-box button {

        width: 20px;
        height: 20px;


    }

    .child-section .list-box {

        gap: 0px;
        margin-top: 20px;
        padding-right: 0px;
    }

    .child-section .read-more {

        padding: 14px 30px;
        font-size: 15px;

    }

    .Popular-Classes .bg-image-one,
    .Popular-Classes .bg-image-two {
        display: none;
    }

    .Popular-Classes {
        padding: 0;
        margin-top: 60px;
    }

    .Popular-Classes .card-box {
        flex-direction: column;
    }

    .Popular-Classes h1 {
        font-size: 30px;
    }

    .teacher {
        padding: 0 4%;
        flex-direction: column;
    }

    .teacher .teacher-pic img {
        width: 100%;
    }

    .teacher .tittle {
        font-size: 28px;
        margin-top: 20px;
    }

    .badge p {
        font-size: 15px;
    }

    .value-1,
    .value-2,
    .value-3 {
        display: none;
    }

    .team {
        margin-top: 30px;
        padding: 40px 2%;
    }

    .team .container {
        flex-direction: column
    }

    .team .tittle {
        font-size: 30px;
        margin-top: 5px;

    }

    .team .container .social {
        display: none;
    }

    .upcoming-events {
        padding: 0;
    }

    .upcoming-events .card {
        flex-direction: column;
    }
    .letest-news .cards {
 flex-direction: column;

}.letest-news {
    padding: 20px;
}
}


/* ? media-query-end-here */